<div class="jumbotron">
  <h1 class="display-4">
    欢迎来到 Annict DB！
  </h1>

  <p class="lead">
    在 Annict DB，您可以编辑在 Annict 存在的动画信息及新增新的动画。
    当信息已过期时，我们欢迎您在 Annict DB 更新信息。
    更新需要编辑权限。
  </p>

  <hr class="my-4">

  <h2 class="fw-bold h3 mb-3">
    拥有“编辑”权限可以自由更改动画信息
  </h2>

  <p>
    在 Annict DB 存在“编辑”这一职位。
    成为编辑后，可以自由更改动画信息。
  </p>

  <h2 class="fw-bold h3 mb-3">
    无法删除作品及章节
  </h2>

  <p>
    当动画已被人记录时及被状态已变更时，
    删除作品时会一同删除用户的记录。
    由于删除处理过程极为复杂，编辑也无法删除作品。
  </p>
</div>
