<p><%= @resource.email %> 您好。</p>

<p>您发起了重置密码请求，请点击以下链接完成后续操作。</p>

<p><%= link_to '重置密码', edit_password_url(reset_password_token: @token, host: @resource.annict_host) %></p>

<p>如果此邮件非本人操作，请不要点击链接并忽略此邮件。</p>
<p>点击以上链接后，无操作将不会更改密码。</p>
