<p>在「<%= link_to "频道", channel_list_path %>」设置平时看的频道后，在「<%= link_to "记录", "/track" %>」页面将显示节目的播放预定。</p>

<div class="text-center">
  <%= link_to "前往「频道」页面", channel_list_path, class: "btn btn-primary" %>
</div>
